<section class="contacts" data-component>
    <h2 class="contacts-title">
            Contact
            <br>
            <span>Information</span>
        </h2>
    <h3 class="contacts-subTitle">
        Social Media Links:
    </h3>
    <div class="contacts-nav">
        <a href="https://www.instagram.com/zubalenok/">
            <img src="../../assets/images/inst-new.png" alt="">
            Karyna Zubalenok
        </a>
        <a href="https://www.instagram.com/zubalenok.team/">
            <img src="../../assets/images/support-new.png" alt="">
            Support
        </a>
        <a href="mailto:SUPPORT_ZUBALENOK@ZBL.AGENCY">
            <img src="../../assets/images/email-new.png" alt="">
            Email
        </a>
    </div>
    <div class="support_link">
        <a href="mailto:SUPPORT_ZUBALENOK@ZBL.AGENCY">SUPPORT_ZUBALENOK@ZBL.AGENCY</a>
    </div>
    <a href="https://zubalenok.shop/policy" style="text-align: center;     display: block;" class="privacy">Privacy
        Policy and User Agreement</a>
</section>