.contacts {
    background-image: url(~@images/contacts.png);
    background-repeat: no-repeat;
    max-width: 440px;
    background-size: 100% 100%;
    padding: 30px;
    margin: 30px auto;
}

.contacts-title {
    font-size: 64px;
    line-height: 80%;
    margin: 0;
    font-weight: 500; 
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: center;
    font-family: "LeagueGothic-Regular", sans-serif;
    color: #fff;
    text-shadow: 0 22px 17px rgba(0, 0, 0, 0.6);
}

.contacts-title span {
    color: #f286c0;
}

.contacts-subTitle {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    font-family: Montserrat, sans-serif;
    padding-bottom: 15px;
    color: #fff;
}

.contacts-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.support_link {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    text-decoration: underline;
}

.support_link a{
    color: #cacaca;
}

.contacts-nav a {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    gap: 3px;
    color: #fff;
    display: flex;
    font-family: Montserrat, sans-serif;
    align-items: center;
}

.contacts-nav a img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.privacy {
    font-weight: 400;
    font-size: 14px;
    line-height: 179%;
    text-decoration: underline;
    font-family: Montserrat, sans-serif;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #cacaca;
    padding-top: 20px;
}