

/* CSS_START:button__discount */
.button__discount-wrapper {
  padding: 30px 0;
}

.button__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#D9341E, #C77757);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: 700;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 300px;
  padding-right: 30px;
  margin: 0 auto;
  font-family: Manrope, sans-serif;
  height: 70px;
}
.button__discount-element {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button__discount-element-image {
  position: absolute;
  background-image: url("./assets/images/discount-frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: spin 20s linear infinite;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.button__discount-element-price {
  position: relative;
  z-index: 3;
  color: #ff4a1a;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}
.button__discount-element-title {
  position: relative;
  z-index: 3;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  color: #000;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 370px) {
  .button__discount-wrapper {
    transform: scale(0.9);
  }
}
/* CSS_END:button__discount */