@charset "UTF-8";
.button__discount-wrapper {
  padding: 30px 0;
}

.button__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#D9341E, #C77757);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: 700;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 300px;
  padding-right: 30px;
  margin: 0 auto;
  font-family: Manrope, sans-serif;
  height: 70px;
}
.button__discount-element {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button__discount-element-image {
  position: absolute;
  background-image: url("./assets/images/discount-frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: spin 20s linear infinite;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.button__discount-element-price {
  position: relative;
  z-index: 3;
  color: #ff4a1a;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}
.button__discount-element-title {
  position: relative;
  z-index: 3;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  color: #000;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 370px) {
  .button__discount-wrapper {
    transform: scale(0.9);
  }
}
.contacts {
  background-image: url("./assets/images/contacts.png");
  background-repeat: no-repeat;
  max-width: 440px;
  background-size: 100% 100%;
  padding: 30px;
  margin: 30px auto;
}

.contacts-title {
  font-size: 64px;
  line-height: 80%;
  margin: 0;
  font-weight: 500;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
  font-family: "LeagueGothic-Regular", sans-serif;
  color: #fff;
  text-shadow: 0 22px 17px rgba(0, 0, 0, 0.6);
}

.contacts-title span {
  color: #f286c0;
}

.contacts-subTitle {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  padding-top: 25px;
  font-family: Montserrat, sans-serif;
  padding-bottom: 15px;
  color: #fff;
}

.contacts-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.support_link {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  text-decoration: underline;
}

.support_link a {
  color: #cacaca;
}

.contacts-nav a {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  gap: 3px;
  color: #fff;
  display: flex;
  font-family: Montserrat, sans-serif;
  align-items: center;
}

.contacts-nav a img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.privacy {
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  text-decoration: underline;
  font-family: Montserrat, sans-serif;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #cacaca;
  padding-top: 20px;
}

.days__video {
  padding: 0 10px;
  max-width: 400px;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: repeat(2, 190px);
  gap: 10px;
}
.days__video .day__video {
  background: radial-gradient(57.46% 57.46% at 50% 50%, #FF6451 0%, #030202 100%);
  border-radius: 20px;
  border: 1px solid #FD351D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 178px;
  width: 100%;
  margin-bottom: 20px;
}
.days__video .day__video-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 121%;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}
.days__video .day__video-text {
  padding: 10px 5px 10px 25px;
  font-weight: 400;
  font-size: 14px;
  list-style: initial;
  padding: 10px 25px;
  line-height: 121%;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.days__video .day__video .video-wrapper {
  position: relative;
  cursor: pointer;
  border: 2px solid #FD351D;
  border-radius: 20px;
  max-height: 108px;
  overflow: hidden;
}
.days__video .day__video .video-wrapper .day-video {
  width: 100%;
  display: block;
  border-radius: 20px;
  max-height: 108px;
}
.days__video .day__video .video-wrapper .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #fff;
  cursor: pointer;
  background: linear-gradient(203deg, #f19090 0%, #ff361e 100%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.days__video .day__video .video-wrapper .play-btn-img {
  width: 12px;
  height: 12px;
}

@media (max-width: 400px) {
  .days__video {
    grid-template-columns: repeat(2, 170px);
    grid-gap: 10px;
    gap: 10px;
  }
  .days__video .day__video-text {
    font-size: 12px;
  }
}
@media (max-width: 385px) {
  .days__video {
    grid-template-columns: repeat(2, 150px);
    grid-gap: 10px;
    gap: 10px;
  }
}
.footer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  opacity: 0;
  transform: translateY(150px);
  width: 100%;
  transition: all 0.5s ease;
}
.footer .footer-bg {
  background-image: url("./assets/images/footer.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 12px 0;
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
}
.footer-timer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-bottom: 10px;
}
.footer-timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.footer-timer-value {
  border-radius: 150px;
  width: 67px;
  height: 38px;
  background-color: #fff;
  color: #000;
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 117%;
  text-align: center;
}
.footer-timer-time {
  font-weight: 500;
  font-size: 10px;
  font-family: Montserrat, sans-serif;
  line-height: 100%;
  text-align: center;
  color: #fff;
}
.footer .footerButton {
  border-radius: 130px;
  max-width: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  height: 65px;
  background: linear-gradient(90deg, #982f01 0%, #fe4e01 50.48%, #982f01 100%);
}
.footer .footerButton p {
  font-weight: 700;
  font-size: 22px;
  line-height: 132%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.footer .footerButton span {
  font-weight: 700;
  font-size: 10px;
  line-height: 290%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.footer.active {
  transform: translateY(0px);
  opacity: 1;
}

.header {
  min-height: 600px;
  padding-top: 20px;
  position: relative;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  box-shadow: 0 0 112px 181px #9CB4CD;
}

.section-1-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  max-width: 320px;
  margin: 0 auto;
  gap: 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  background: linear-gradient(169deg, rgba(255, 255, 255, 0.885) 0%, rgba(255, 255, 255, 0.289) 100%);
  border-radius: 20px;
}

.section-1-top-left {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 56px;
  min-width: 185px;
  height: 39px;
  background: linear-gradient(90deg, #52acff 0%, #0084ff 50.48%, #52acff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1-top-right {
  font-weight: 500;
  font-size: 12px;
  line-height: 65%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  min-width: 120px;
  padding-right: 12px;
  height: 39px;
  gap: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.section-1-top-right img {
  width: 18px;
  height: 18px;
}

.header-title {
  font-weight: 500;
  font-size: 90px;
  line-height: 89%;
  letter-spacing: 0.04em;
  font-family: "DrukCyr";
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  text-align: center;
  color: #000;
}

.header-subTitle {
  font-weight: 400;
  font-size: 48px;
  line-height: 121%;
  margin-top: -12px;
  text-align: center;
  font-family: "Bleeker";
  color: #0084ff;
}

.karina {
  width: 100%;
  position: relative;
  z-index: 5;
  margin-top: -5%;
}

.header-button {
  border-radius: 51px;
  max-width: 297px;
  width: 100%;
  height: 76px;
  font-weight: 700;
  font-size: 16px;
  line-height: 406%;
  text-transform: uppercase;
  position: relative;
  font-family: "Unbounded";
  z-index: 9;
  text-align: center;
  color: #fff;
  margin: -27% auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 10px;
  gap: 10px;
  box-shadow: inset 0 4px 41px 0 #c5e3ff;
  background: linear-gradient(179deg, #0084ff 0%, #004f99 100%);
}

.header-button-discount {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 158%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.header-button-discount span {
  font-size: 16px;
  color: #0082ff;
}

.header-bootom-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding: 10px 0 20px 0;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.header-price {
  border: 3px solid rgba(0, 132, 255, 0.51);
  background: rgba(255, 255, 255, 0.91);
  border-radius: 16px;
  padding: 16px;
  width: 144px;
  height: 69px;
  position: absolute;
  bottom: 24%;
  right: 5%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-price-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 50%;
  padding-bottom: 10px;
  padding-top: 5px;
  font-family: "Unbounded";
  text-transform: uppercase;
  text-align: center;
  color: #0084ff;
}

.header-price-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 80%;
  text-align: center;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
}

.header-price-text::after {
  content: "";
  display: block;
  background-color: #eb0000;
  width: 100px;
  height: 2px;
  position: absolute;
  left: -5px;
  top: 10px;
}

.header-programs {
  background-image: url("./assets/images/plashka.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 38%;
  left: 7%;
  padding: 16px;
  z-index: 3;
  width: 103px;
  height: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-programs::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: -1;
  background-color: #fff;
  top: 51px;
  left: 38px;
  box-shadow: 0 0 23px 28px #fff;
  border-radius: 100%;
}

.list-img {
  width: 25px;
  object-fit: contain;
}

.header-programs-value {
  font-weight: 700;
  font-size: 48px;
  line-height: 40%;
  padding: 20px 0 10px;
  font-family: "Unbounded";
  text-transform: uppercase;
  text-align: center;
  color: #0084ff;
}

.header-programs-title {
  font-weight: 700;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 8px;
  margin-bottom: -25px;
  text-transform: uppercase;
  text-align: center;
}

.header-programs-title span {
  font-weight: 700;
  font-size: 10px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 200px;
  background: linear-gradient(59deg, rgba(221, 236, 255, 0.768627451) 0%, rgba(198, 220, 239, 0.7411764706) 100%);
  backdrop-filter: blur(2px);
  width: 105px;
  height: 28px;
  text-align: center;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  padding: 20px 0;
  white-space: nowrap;
  position: absolute;
  bottom: 40%;
  left: 0;
}

.marquee-content {
  display: inline-flex;
  gap: 7px;
  will-change: transform;
}

.marquee-content img {
  width: 300px; /* Налаштуй ширину під себе */
  height: auto;
  object-fit: cover;
  filter: blur(0.5px);
  flex-shrink: 0;
}

@media (max-width: 400px) {
  .marquee-container {
    bottom: 39%;
  }
  .marquee-content img {
    width: 270px;
  }
  .header-programs-value {
    font-size: 42px;
  }
  .header-programs {
    padding: 14px;
    width: 95px;
    height: 111px;
  }
  .header-programs-value {
    padding: 15px 0 10px;
  }
  .list-img {
    width: 20px;
    object-fit: contain;
  }
  .header-price-title {
    font-size: 28px;
  }
  .header-price-text {
    font-size: 18px;
  }
  .header-price-text::after {
    width: 92px;
    height: 2px;
    position: absolute;
    left: -8px;
    top: 8px;
  }
  .header-price {
    width: 125px;
    height: 60px;
  }
}
.questions {
  padding-bottom: 30px;
  background-color: #000;
}
.questions .label {
  font-size: 25px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  padding: 0 10px;
}
.questions .questionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 340px;
  width: 100%;
  margin: 40px auto;
  border-top: 1px solid #7b7b7b;
}
.questions .questionsContainer-item {
  border-bottom: 1px solid #7b7b7b;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.questions .questionsContainer-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 20px;
}
.questions .questionsContainer-item-bottom {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.questions .questionsContainer-item-bottom .ask-text {
  font-size: 14px;
  padding-left: 50px;
  text-transform: initial;
  line-height: 18px;
  max-width: 100%;
  padding-right: 10px;
}
.questions .questionsContainer-item-bottom p {
  line-height: 18px;
}
.questions .questionsContainer-item.active .questionsContainer-item-bottom {
  opacity: 1;
}
.questions .questionsContainer-item .question-text {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 15px 0;
  font-family: Montserrat, sans-serif;
  text-transform: none;
  font-weight: 500;
}
.questions .questionsContainer-item .questionsContainer-item-bottom .question-text {
  padding: 0 0 15px 0;
}

.slider_video_1 {
  position: relative;
}
.slider_video_1-slider {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 231px;
  margin: 0 auto;
  position: relative;
}
.slider_video_1-slider img {
  width: 231px;
  height: 372px;
  outline: none;
}
.slider_video_1-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.slider_video_1-buttons img {
  width: 50px;
  height: 50px;
}
.slider_video_1-buttons-prev {
  position: absolute;
  left: 20px;
  top: 210px;
  transition: 0.3s;
}
.slider_video_1-buttons-next {
  position: absolute;
  right: 20px;
  top: 210px;
  transition: 0.3s;
}
.slider_video_1-buttons-next:hover {
  transform: scale(1.05);
}
.slider_video_1-buttons-next:active {
  transform: scale(0.95);
}
.slider_video_1-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  gap: 10px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_video_1-title img {
  width: 32px;
  height: 32px;
}

.slick-initialized .slick-slide {
  border-radius: 12px;
  padding: 5px;
  overflow: hidden;
}

.slider_video_1-popup {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.slider_video_1-popup.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.slider_video_1-popup-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slider_video_1-popup.active .slider_video_1-popup-overlay {
  opacity: 1;
}
.slider_video_1-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 380px;
  aspect-ratio: 16/9;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  background: #000;
  border-radius: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.slider_video_1-popup.active .slider_video_1-popup-content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.slider_video_1-popup iframe {
  width: 100%;
  height: 100%;
}
.slider_video_1-popup-close {
  position: absolute;
  top: -30px;
  right: -20px;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.slider_video_1-trigger {
  pointer-events: initial;
  cursor: pointer;
  overflow: hidden !important;
  position: relative;
}
.slider_video_1-trigger img {
  border-radius: 15px;
}
.slider_video_1-trigger::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5333333333);
  background-image: url("./assets/images/play_sv-1.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#popupVideo {
  width: 220px;
  height: 380px;
  border-radius: 20px;
}

.start_date_badge_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px auto 0;
  gap: 10px;
}
.start_date_badge_1-left {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 56px;
  margin: 0;
  min-width: 168px;
  height: 39px;
  background: linear-gradient(90deg, #ff0202 0%, #990101 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.start_date_badge_1-right {
  font-weight: 500;
  font-size: 14px;
  line-height: 65%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin: 0;
  border-radius: 32px;
  background: #fff;
  white-space: nowrap;
  min-width: 168px;
  height: 39px;
  gap: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 395px) {
  .s5__content-number {
    font-size: 100px;
  }
  .s5__content-text {
    font-size: 12px;
  }
  .s5__content-top-title {
    font-size: 17px;
  }
  .start_date_badge_1-left {
    font-size: 12px;
    min-width: 150px;
    height: 35px;
  }
  .start_date_badge_1-right {
    font-size: 12px;
    line-height: 65%;
    min-width: 150px;
    height: 35px;
  }
}
.start_date_badge_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 345px;
  margin: 20px auto 0;
  gap: 0px;
  border-radius: 32px;
  background: #fff;
}
.start_date_badge_2-left {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: #fff;
  border-radius: 56px;
  min-width: 168px;
  height: 39px;
  background: linear-gradient(90deg, #ff0202 0%, #990101 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.start_date_badge_2-right {
  font-weight: 500;
  font-size: 14px;
  line-height: 65%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin: 0;
  white-space: nowrap;
  min-width: 168px;
  height: 39px;
  gap: 5px;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 395px) {
  .start_date_badge_2 {
    max-width: 310px;
  }
  .s5__content-number {
    font-size: 100px;
  }
  .s5__content-text {
    font-size: 12px;
  }
  .s5__content-top-title {
    font-size: 17px;
  }
  .start_date_badge_2-left {
    font-size: 12px;
    min-width: 150px;
    height: 35px;
  }
  .start_date_badge_2-right {
    font-size: 12px;
    line-height: 65%;
    min-width: 150px;
    height: 35px;
  }
}