/* CSS_START:button__discount */
.button__discount-wrapper {
  padding: 30px 0;
}

.button__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#D9341E, #C77757);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: 700;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 300px;
  padding-right: 30px;
  margin: 0 auto;
  font-family: Manrope, sans-serif;
  height: 70px;
}
.button__discount-element {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button__discount-element-image {
  position: absolute;
  background-image: url("./assets/images/discount-frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: spin 20s linear infinite;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.button__discount-element-price {
  position: relative;
  z-index: 3;
  color: #ff4a1a;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}
.button__discount-element-title {
  position: relative;
  z-index: 3;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  color: #000;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 370px) {
  .button__discount-wrapper {
    transform: scale(0.9);
  }
}
/* CSS_END:button__discount */
/* CSS_START:footer__timer */
.footer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  opacity: 0;
  transform: translateY(150px);
  width: 100%;
  transition: all 0.5s ease;
}
.footer .footer-bg {
  background-image: url(./assets/images/footer.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 12px 0;
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
}
.footer-timer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-bottom: 10px;
}
.footer-timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.footer-timer-value {
  border-radius: 150px;
  width: 67px;
  height: 38px;
  background-color: #fff;
  color: #000;
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 117%;
  text-align: center;
}
.footer-timer-time {
  font-weight: 500;
  font-size: 10px;
  font-family: Montserrat, sans-serif;
  line-height: 100%;
  text-align: center;
  color: #fff;
}
.footer .footerButton {
  border-radius: 130px;
  max-width: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  height: 65px;
  background: linear-gradient(90deg, #982f01 0%, #fe4e01 50.48%, #982f01 100%);
}
.footer .footerButton p {
  font-weight: 700;
  font-size: 22px;
  line-height: 132%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.footer .footerButton span {
  font-weight: 700;
  font-size: 10px;
  line-height: 290%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.footer.active {
  transform: translateY(0px);
  opacity: 1;
}
/* CSS_END:footer__timer */