

<section class="component-card" id="card-button__discount">
  <div class="component-header">
    <h2>button__discount</h2>
    <div class="component-controls">
        <button class="btn-delete" onclick="deleteComponent('button__discount')" style="background: #ff4d4d; color: white; border: none; padding: 5px 10px; cursor: pointer; border-radius: 4px;">🗑 Видалити</button>
    </div>
  </div>
  <div class="component-body"><div class="button__discount-wrapper" data-component>
    <button class="button__discount">
        Join for 
        <br>
        €0.32/daily
        <div class="button__discount-element">
            <div class="button__discount-element-image"></div>
            <span class="button__discount-element-price">-75% </span>
            <span class="button__discount-element-title">OFF</span>
        </div>
    </button>
</div></div>
</section>
