.days__video {
    padding: 0 10px;
    max-width: 400px;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(2, 190px);
    gap: 10px;

    .day__video {
        background: radial-gradient(57.46% 57.46% at 50% 50%, #FF6451 0%, #030202 100%);
        border-radius: 20px;
        border: 1px solid #FD351D;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 178px;
        width: 100%;
        margin-bottom: 20px;

        &-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 121%;
            text-align: center;
            color: #fff;
            padding-top: 10px;

            font-family: 'Roboto', sans-serif;
        }

        &-text {
            padding: 10px 5px 10px 25px;

            font-weight: 400;
            font-size: 14px;
            list-style: initial;
            padding: 10px 25px;
            line-height: 121%;
            color: #fff;

            font-family: 'Roboto', sans-serif;
        }

        .video-wrapper {
            position: relative;
            cursor: pointer;
            border: 2px solid #FD351D;
            border-radius: 20px;
            max-height: 108px;
            overflow: hidden;

            .day-video {
                width: 100%;
                display: block;
                border-radius: 20px;
                max-height: 108px;
            }

            .play-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 1px solid #fff;
                cursor: pointer;
                background: linear-gradient(203deg, #f19090 0%, #ff361e 100%);
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;

                &-img {
                width: 12px;
                height: 12px;
            }
            }
        }
    }
}


@media(max-width: 400px) {
    .days__video {
        grid-template-columns: repeat(2, 170px);
        grid-gap: 10px;
        gap: 10px;
    }

    .days__video .day__video-text{
        font-size: 12px;
    }
}

@media(max-width: 385px) {
    .days__video {
        grid-template-columns: repeat(2, 150px);
        grid-gap: 10px;
        gap: 10px;
    }
}