<div class="days__video" data-component>
    <div class="day__video">
        <h3 class="day__video-title">
            Day 1
        </h3>
        <ul class="day__video-text">
            <li>
                Less stiffness in hips &amp; lower back
            </li>
            <li>
                Body feels lighter after 1st training
            </li>
        </ul>
        <div class="video-wrapper">
            <video class="day__video-video" poster="../../assets/posters/poster-1.webp" src="../../assets/video/video-1.mp4" muted playsinline loop></video>
            <div class="play-btn">
                <img class="play-btn-img" src="../../assets/images/play.png" alt="Play">
            </div>
        </div>

    </div>
    <div class="day__video">
        <h3 class="day__video-title">
            Day 11
        </h3>
        <ul class="day__video-text">
            <li>
                Transitions become effortless.
            </li>
            <li>
                Hip release, smooth movements
            </li>
        </ul>
        <div class="video-wrapper">
            <video class="day__video-video" poster="../../assets/posters/poster-2.webp" src="../../assets/video/video-2.mp4" muted playsinline loop></video>
            <div class="play-btn">
            <img class="play-btn-img" src="../../assets/images/play.png" alt="Play">
            </div>
        </div>


    </div>
    <div class="day__video">
        <h3 class="day__video-title">
            Day 24
        </h3>
        <ul class="day__video-text">
            <li>
                Deeper stretches without pain
            </li>
            <li>
                Better posture &amp; core control
            </li>
        </ul>
        <div class="video-wrapper">
            <video class="day__video-video" poster="../../assets/posters/poster-3.webp" src="../../assets/video/video-3.mp4" muted playsinline loop></video>
            <div class="play-btn">
            <img class="play-btn-img" src="../../assets/images/play.png" alt="Play">
            </div>
        </div>


    </div>
    <div class="day__video">
        <h3 class="day__video-title">
            Day 42
        </h3>
        <ul class="day__video-text">
            <li>
                Full-body wide range of movement with strength, control, &amp; stability.
            </li>
        </ul>
        <div class="video-wrapper">
            <video class="day__video-video" poster="../../assets/posters/poster-4.webp" src="../../assets/video/video-4.mp4" muted playsinline loop></video>
            <div class="play-btn">
            <img class="play-btn-img" src="../../assets/images/play.png" alt="Play">
            </div>
        </div>


    </div>
</div>