<section class="component-card" id="card-button__discount" data-name="button__discount">
  <style>.button__discount-wrapper {
  padding: 30px 0;
}

.button__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#D9341E, #C77757);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: 700;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 300px;
  padding-right: 30px;
  margin: 0 auto;
  font-family: Manrope, sans-serif;
  height: 70px;
}
.button__discount-element {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button__discount-element-image {
  position: absolute;
  background-image: url("./assets/images/discount-frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: spin 20s linear infinite;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.button__discount-element-price {
  position: relative;
  z-index: 3;
  color: #ff4a1a;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}
.button__discount-element-title {
  position: relative;
  z-index: 3;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  color: #000;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 370px) {
  .button__discount-wrapper {
    transform: scale(0.9);
  }
}</style>

  <div class="component-header">
    <h2>button__discount</h2>
    <div class="component-controls">
      <button class="btn-add" onclick="addToProject('button__discount')">➕ Add</button>
      <button class="btn-del" onclick="deleteFullComponent('button__discount')">🗑 Delete</button>
    </div>
  </div>

  <div class="tabs-nav">
    <button class="tab-link active" onclick="openTab(event, 'button__discount', 'preview')">Preview</button>
    <button class="tab-link" onclick="openTab(event, 'button__discount', 'html')">HTML</button>
    <button class="tab-link" onclick="openTab(event, 'button__discount', 'scss')">SCSS</button>
    
  </div>

  <div class="tabs-content">
    <div id="tab-button__discount-preview" class="tab-panel active">
      <div class="component-body"><div class="button__discount-wrapper" data-component>
    <button class="button__discount">
        Join for 
        <br>
        €0.32/daily
        <div class="button__discount-element">
            <div class="button__discount-element-image"></div>
            <span class="button__discount-element-price">-75% </span>
            <span class="button__discount-element-title">OFF</span>
        </div>
    </button>
</div></div>
    </div>
    
    <div id="tab-button__discount-html" class="tab-panel">
      <button class="copy-code-btn" onclick="copyCode('code-h-button__discount')">Copy</button>
      <pre><code id="code-h-button__discount">&lt;div class=&quot;button__discount-wrapper&quot; data-component&gt;
    &lt;button class=&quot;button__discount&quot;&gt;
        Join for 
        &lt;br&gt;
        €0.32/daily
        &lt;div class=&quot;button__discount-element&quot;&gt;
            &lt;div class=&quot;button__discount-element-image&quot;&gt;&lt;/div&gt;
            &lt;span class=&quot;button__discount-element-price&quot;&gt;-75% &lt;/span&gt;
            &lt;span class=&quot;button__discount-element-title&quot;&gt;OFF&lt;/span&gt;
        &lt;/div&gt;
    &lt;/button&gt;
&lt;/div&gt;</code></pre>
    </div>

    
    <div id="tab-button__discount-scss" class="tab-panel">
      <button class="copy-code-btn" onclick="copyCode('code-s-button__discount')">Copy</button>
      <pre><code>.button__discount-wrapper{
  padding: 30px 0;
}

.button__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#D9341E, #C77757);
  box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
  font-size: 25px;
    font-weight: 700;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 300px;
  padding-right: 30px;
  margin: 0 auto;
  font-family: Manrope, sans-serif;
  height: 70px;

  &amp;-element {
    position: absolute;
    width: 100px;
    height: 100px;
    right: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &amp;-image{
        position: absolute;
        background-image: url(&#039;../assets/images/discount-frame.png&#039;);
        background-repeat: no-repeat;
        background-size: contain;
        animation: spin 20s linear infinite;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
    
    &amp;-price{
        position: relative;
        z-index: 3;
        color: #ff4a1a;
        font-weight: 900;
        font-size: 23px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.1;
    }

    &amp;-title{
        position: relative;
        z-index: 3;
        font-weight: 900;
        font-size: 23px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.1;
        color: #000;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 370px){
  .button__discount-wrapper{
    transform: scale(0.9);
  }
}</code></pre>
    </div>

    
  </div>

  <img src="x" onerror="
    (function() {
      try {
        
      } catch(e) {
        console.error('JS Init Error [button__discount]:', e);
      }
    })();
    this.remove();
  " style="display:none;">
</section>